<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>
<body>
    <h1>Welcome to the Main Menu</h1>
    <ul>
        <li><a href="/chunk/text/sync">동기 방법 AI Response</a></li>
        <li><a href="/chunk/sse/step1">비동기 방법(StreamingResponseBody) AI Response</a></li>
        <li><a href="/chunk/sse/step2">비동기 방법(SseEmitter) AI Response</a></li>
        <li><a href="/chunk/sse/step3">비동기 방법(Web Flux) AI Response </a></li>
        <li><a href="/chunk/ndjson/step4">서버에 저장된 사용자 목록(객체)을 클라이언트에 스트리밍 - 비동기 방법(NDJSON) </a></li>
    </ul>
</body>
</html>